on mmi-priority
    # Only high priority MMI DLKMs loaded here
    # For instance, sensor_class referenced from several DLKMs
    # and needs to load first. Touchscreen might need extra time
    # to perform firmware update if necessary
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules mmi_annotate mmi_info mmi_sys_temp sensors_class mcDrvModule

on fs
    # Majority of MMI DLKMs should be in this group
    insmod /vendor/lib/modules/leds_aw99703.ko
    insmod /vendor/lib/modules/leds_lm3697.ko
    insmod /vendor/lib/modules/cci_intf.ko
    insmod /vendor/lib/modules/ilitek_0flash_mmi.ko
    insmod /vendor/lib/modules/nova_0flash_mmi.ko
    insmod /vendor/lib/modules/focaltech_0flash_mmi.ko
    insmod /vendor/lib/modules/qpnp_adaptive_charge.ko

    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules abov_sar_mmi_overlay audio_snd_soc_aw882xx tps61280

service capsense_reset /system/vendor/bin/capsense_reset
    class core
    user system
    group system input
    disabled

on property:sys.boot_completed=1
    start capsense_reset

service vendor.mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot
